@import '/src/global-styles/Base';

.scroll-to-top {
  right: 1.875rem;
  width: 3rem;
  height: 3rem;
  bottom: 9.6875rem;
  border-radius: 50%;
  background: rgba(133,140,146,0.4);
  display: none;

  &:hover {
    background: rgba(133,140,146,0.6);
  }

  &__icon {
    width: 1.375rem;
    height: 1.375rem;
  }
}
